// FOOTER
@use "../utilities/variables";
@import "../utilities/mixins";

footer {
    color: #FFFFFF;
    background-color: #262626;
    height: max-content;
    @include flex(row, space-evenly, center);
    padding: 30px;

    a {
        color: variables.$fuente;
        text-decoration: none;
    }
}

.logoRed {
    width: 40px;
}