@use "../utilities/variables";

// HEADER 

header {
    display: flex;
    justify-content: space-evenly;
    background-color: variables.$fondo;
    align-items: center;
    position: sticky;
    top: 0;
}

nav {

    ul {

        li {
            list-style: none;
            display: inline-block;
            padding: 0px;
        }

        .nav-link {
            background-color: variables.$fondo;
            color: variables.$fuente;
            font-weight: 900;
            font-size: 25px;
            justify-content: space-around;
            transition: all 1s;

            &:hover {
                background: linear-gradient(to left,#f12711,#f5af19 );
                font-size: 30px;
            }
        }
    }

}






.logo {
    width: 100px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.nav-hover {
    padding: 30px;
}