// RESPONSIVE

// MOVIL
@media (min-width: 340px) and (max-width: 767px) {

    //inicio
    .container-fluid {
        width: 50%;

    }

    // nosotros
    .nosotros {
        display: flex;
        flex-direction: column;

        img {
            width: 50%;
        }
    }

    // paseadores 
    .grupoPaseador {
        display: flex;
        flex-direction: column;

        .card {
            width: 50px;
        }
    }

    // emergencia 
    .emergencia {
        display: flex;
        flex-direction: column;
    }
}

// NO SE QUE ESTOY HACIENDO MAL PARA QUE ESTAS DIMENSIONES NO ME LO TOME

// TABLET 768px
@media (min-width: 768px) and (max-width: 1024px) {}