// RESPONSIVE

// MOVIL

@media (max-width: 430px) {
    body {
        margin: 0px;
    }

    .nav-hover {
        background-color: black;
        padding: 5px;
        align-items: center;
        justify-items: center;
    }

    //INICIO 
    .tituloPagina {
        font-weight: 25px;

        h2 {
            font-size: 50px;
        }
    }

    //NOSOTROS

    .titulos {
        padding: 15px;
    }

    .nosotros {
        flex-direction: column;
        align-items: center;

        p {
            text-align: center;
        }

        img {
            width: 150%;
        }
    }

    //PASEADORES

    .grupoPaseador {
        flex-direction: column;

        .card {
            width: 100%;
        }
    }

    //CONTACTO

    form {
        margin: 20px;
    }

    input {
        width: 400px;
    }

    textarea {
        width: 400px;
    }

    //EMERGENCIA 

    .emergencia {
        flex-direction: column;

        .map {
            width: 400px;
        }
    }

    footer {
        flex-direction: column;
        padding: 10px;
        gap: 15px;
    }
}

// TABLET 
@media (min-width: 431px) and (max-width: 768px) {
    body {
        margin: 0px;
    }

    .nav-hover {
        background-color: black;
        padding: 10px;
        align-items: center;
        justify-items: center;
    }

    //NOSOTROS 

    .nosotros{
        flex-direction: column;
        align-items: center;
        img{
            width: 100%;
        }
    }

    //PASEADORES

    .grupoPaseador{
            display: grid;
            grid-template-areas: 
                "card card";
                .card{
                    width: 100%;
                }
    
    }

    //EMERGENCIA 

    .emergencia{
        flex-direction: column;
        .map{
            align-items: center;
            justify-content: center;
        }
    }


}