/* fuente */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  align-items: center;
  position: sticky;
  top: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0px;
}
nav ul .nav-link {
  background-color: black;
  color: white;
  font-weight: 900;
  font-size: 25px;
  justify-content: space-around;
  transition: all 1s;
}
nav ul .nav-link:hover {
  background: linear-gradient(to left, #f12711, #f5af19);
  font-size: 30px;
}

.logo {
  width: 100px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.nav-hover {
  padding: 30px;
}

.banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px;
}

.tituloPagina {
  font-size: 100px;
}
.tituloPagina h2 {
  background-color: white;
  margin: 50px;
}

.explicacion-paseos {
  text-align: center;
  margin: 0px 50px;
}

.titulos {
  text-align: center;
}

.nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 80px;
}
.nosotros img {
  width: 800px;
  padding: 10px;
}

form {
  margin-top: 30px;
  margin-left: 100px;
}

label {
  display: flex;
  margin: 10px;
  font-weight: bold;
  font-size: larger;
}

input {
  display: block;
  width: 300px;
  height: 30px;
}

textarea {
  display: flex;
  width: 500px;
}

.boton {
  width: 100px;
  margin: 50px 30px;
  padding: 20px;
  background-color: red;
  color: white;
  border: none;
  display: inline-block;
  align-content: center;
}

.emergencia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  gap: 40px;
  margin: 50px 0px;
}

.presentacion-paseadores {
  text-align: center;
  margin: 0px 50px;
}

.grupoPaseador {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin: 30px 15px;
}

.card {
  border: 2px solid black;
  width: 500px;
  text-align: center;
}
.card img {
  width: 100%;
}
.card p {
  padding: 16px;
}

.botonWpp {
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: darkgreen;
  font-size: 25px;
  padding: 9px;
  border-radius: 6px;
}
.botonWpp .whatsApp-logo {
  width: 25%;
}

footer {
  color: #FFFFFF;
  background-color: #262626;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}
footer a {
  color: white;
  text-decoration: none;
}

.logoRed {
  width: 40px;
}

@media (min-width: 340px) and (max-width: 767px) {
  .container-fluid {
    width: 50%;
  }
  .nosotros {
    display: flex;
    flex-direction: column;
  }
  .nosotros img {
    width: 50%;
  }
  .grupoPaseador {
    display: flex;
    flex-direction: column;
  }
  .grupoPaseador .card {
    width: 50px;
  }
  .emergencia {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
